<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe | e-Lib</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" integrity="sha512-eMxdaSf5XW3ZW1wZCrWItO2jZ7A9FhuZfjVdztr7ZsKNOmt6TUMTQgfpNoVRyfPE5S9BC0A4suXzsGSrAOWcoQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/main_header.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/book_detail.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js" integrity="sha512-j+F4W//4Pu39at5I8HC8q2l1BNz4OF3ju39HyWeqKQagW6ww3ZF9gFcu8rzUbyTDY7gEo/vqqzGte0UPpo65QQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static',filename='scripts/book_detail.js') }}"></script>
</head>
<body data-theme="t-dark" style="--cover-color: {{ book.cover_color }}aa;">
    <div class="main-header">
        <img class="header-logo" src="{{ url_for('static',filename='logo/foo_logo.png') }}">
        <span><a id="home" href="/home">Home</a></span>
        <span><a id="book_detail" href="/book-detail/1">Book Detail</a></span>
        <span><a id="forum">Forum</a></span>
        <div class="header-config">
            <input id="search" placeholder="Pesquisar"/>
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            <span id="options"></span>
        </div>
    </div>
    <div class="main-div">
        <div class="div-info">
            <h1>
                {{ book.title }}
            </h1>
            <h2>
                {{ book.author }}
            </h2>
            <h4>
                Ano da Edição: {{ book.year }}
            </h4>
            <p>
               Sinopse: {{ book.description }}
            </p>
            <button class="btn-ler">LER</button>
            <button class="btn-add">+ Minha Lista</button>
        </div>
        <div class="div-cover">
            <img class="img-header" src="{{ url_for('static',filename='books-covers/%s' % book.cover_path) }}">
        </div>
    </div>
    <div class="div-body">
        
    </div>

    <div class="div-btns-config">
        <button id="btn_theme" onclick="changeTheme()">tema</button><br>
        <button id="btn_prev"><a href="/book-detail/{{ book.id-1 }}">{{ "<<" }}</a></button><br>
        <button id="btn_prev"><a href="/book-detail/{{ book.id+1 }}">{{ ">>" }}</a></button>
    </div>  
</body>
</html>