*{
    margin: 0;
}

html, body {
    min-width: 100%;
}

body {
    position: absolute;
    justify-content: center;
    margin: 0;
    background-color: var(--bg-color);
}


.btn-topico{
    border-radius: 6px;
    border: none;
    font-size: 15px;
    width: 150px;
    height: 30px;
    align-items: center;
}

.div-container{
    width: 100vw;
    margin: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.div-container h1, h2, h3, h4, h5, h6, p, a, li {
    justify-self: left;
    color: var(--txt-color);
}

.partiners {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 25%;
    height: auto;
    /* float: left; */
    border-right: var(--txt-color) solid 1px; 
    text-align:justify; 
    padding-top: 20px;
    margin-left: 10px;
    /* padding-right: 10px; */
} 

.partiner-logo{
    width: 100%;
    height: auto;
}

.div-main { 
    /* position: relative; */
    width: 55%;
    height: auto;
    text-align:justify 
} 

.div-livro {
    margin-bottom: 50px;
    margin-left: 10px;
    border-top: var(--txt-color) solid 1px;
    border-bottom: var(--txt-color) solid 1px;
}

.sec-livro{
    margin: 10px;
    height: 185px;
    overflow: hidden;
    text-overflow: "...";
}

.sec-comment {
    margin: 10px;
}

.continue {
    float: right;
    padding-right: 15px;
}

.recents {
    /* position: relative; */
    width: 30%;
    height: auto;
    /* float: right; */
    margin-right: 10px;
    border-left: var(--txt-color) solid 1px;
    padding-top: 20px;
    padding-left: 10px;
}

.sec-recomendado{
    border-bottom: var(--txt-color) solid 1px;
}

.sec-recomendado a {
    color: var(--txt-color);
}

.sec-visto{
    text-align: left;
}