*{
    margin: 0;
}

html, body {
    min-width: 100%;
}

body[data-theme="t-dark"] {
    --bg-color: #111;
    --txt-color: #eee;
}

body[data-theme="t-light"] {
    --bg-color: #ccc;
    --txt-color: #111;
}

body {
    position: absolute;
    justify-content: center;
    margin: 0;
    background-color: var(--bg-color);
}

.novo-topico {
    position: absolute;
    right: 220px;
    display: flex;
    align-items: center;
}

.btn-topico{
    border-radius: 6px;
    border: none;
    font-size: 15px;
    width: 150px;
    height: 30px;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-between;
}

.container h1, h2, h3, h4, h5, h6, p, a, li {
    justify-self: left;
    color: var(--txt-color);
}

.partiners {
    position: relative;
    width: 25%;
    height: auto;
    float: left;
    border-right: var(--txt-color) solid 1px; 
    text-align:justify; 
    padding-top: 20px;
    padding-right: 10px;
} 

.partiner-logo{
    width: 100%;
    height: auto;
}

.div-main { 
    position: relative;
    width: 55%;
    height: auto;
    text-align:justify 
} 

.div-livro {
    margin-bottom: 50px;
    margin-left: 10px;
    border-top: var(--txt-color) solid 1px;
    border-bottom: var(--txt-color) solid 1px;
}

.sec-livro{
    margin: 10px;
    height: 185px;
    overflow: hidden;
    text-overflow: "...";
}

.sec-comment {
    margin: 10px;
}

.continue {
    float: right;
    padding-right: 15px;
}

.recents {
    position: relative;
    width: 30%;
    height: auto;
    float: right;
    border-left: var(--txt-color) solid 1px;
    padding-top: 20px;
    padding-left: 10px;
}

.sec-recomendado{
    border-bottom: var(--txt-color) solid 1px;
}

.sec-recomendado a {
    color: var(--txt-color);
}

.sec-visto{
    text-align: left;
}