@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}

#carousel-home {
    margin-bottom: 30px;
}

.carousel-inner > div > img {
    -webkit-mask-image: linear-gradient(to top, transparent 1%, black 30%);
}

.book-carousel {
    width: 90%;
    margin-bottom: 250px;
}

#slider {
    height: 30vh;
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #0000;
}

.container {
    width: 1600px;
    margin: 0;
}

.subcontainer {
    width: 85%;
}

.controller {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.controller h2 {
    color: var(--txt-color);
}

.controls i {
    color: var(--txt-color);
    font-size: 1rem;
}

.previous, .next {
    padding: 2px;
    width: 35px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    border: 3px solid var(--txt-color);
    background-color: #0000;
    box-shadow: 0 0 5px #bbb;
}

.slide-img {
    height: 300px;
    width: auto;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.slide-img:hover {
    box-shadow: 0 0 0 200px #000a inset;
}

.slide-img a {
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: #eee;
    opacity: 0;
}

.slide-img:hover a {
    opacity: 1;
    transform: scale(1);
}

.main-div p {
    font-family: 'Merriweather', serif;
    color: var(--txt-color);
}
