@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat:wght@300&display=swap');

body[data-theme="t-dark"] {
    --bg-color: #333;
}

body[data-theme="t-light"] {
    --bg-color: #eee;
}

body {
    position: absolute;
    justify-content: center;
    margin: 0;
    background-color: var(--bg-color);
}

.main-div {
    justify-content: right;
    display: flex;
    border: #f00 solid 2px;
    height: 98vh;
    background-color: #000;
}

.div-info {
    background-color: #000;
    width: 40%;
}

.div-info h1 {
    font-size: 3em;
    font-family: 'Merriweather', serif;
    color: #eee;
}

.div-info p {
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    color: #eee;
}

.div-info p::first-letter {
    font-size: 2em;
}

.div-info button {
    padding: 5px;
    font-size: 1.5em;
    margin-top: 5px;
    margin-right: 20px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.div-cover {
    padding-right: 10vw;
    padding-left: 10vw;
}

.img-header {
    position: relative;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to left, transparent 1%, black 50%);
    /*mask-image: linear-gradient(to left, transparent 5%, black 100%);*/
}
